<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="stockActivityReporter.Properties.Settings.ConnectionString"
            connectionString="Dsn=em;uid=root;pwd=e4r5t6y7" providerName="System.Data.Odbc" />
    </connectionStrings>
</configuration>